@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9fafb;
  font-family: 'Arial', sans-serif;
}

/* Estilos comunes */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}


